.git
.cache
.tools
.zcode
node_modules
**/node_modules
.env
**/.env
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
coverage
data
**/prisma/*.db
**/prisma/data
docker-images
*.tar.gz
*.manifest.json
*.sha256
**/riri-agent
**/riri-agent.exe
*.db
*.db-*
*.log
